<!DOCTYPE html>
<html>
  <head>
    <title>Motto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="current-version" content="<%= Motto.version %>">
    <% if Motto.commit_sha.present? %>
      <meta name="current-commit-sha" content="<%= Motto.commit_sha %>">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
  </head>

  <body>
    <nav class="w-[min(100%, 34.5em)]">
      <div class="prose mx-auto my-20">
        <!-- TODO: -->
        <h1>Motto Logo</h1> 
      </div>
    </nav>  
    <main class="prose mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
