<!DOCTYPE html>
<html>
  <head>
    <title>Motto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="w-[min(100%, 34.5em)]">
      <div class="prose mx-auto my-20">
        <h1>Motto</h1>
      </div>
    </nav>  
    <main class="prose mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
